body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
input {
    margin: 10px;
    padding: 10px;
    width: 200px;
}
button {
    padding: 10px 20px;
}

ol {
    padding: 0; /* Eliminar padding de la lista */
    list-style-position: inside; /* Mover números dentro del elemento */
}

li {
    /*display: flex; /* Usar flexbox para alinear los elementos */
    justify-content: center; /* Centrar el texto */
    align-items: center; /* Alinear verticalmente */
    margin-bottom: 15px; /* Espacio entre los participantes */
}

.remove-button {
    margin-left: 10px; /* Espacio entre el nombre y el botón */
    background-color: red; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero al pasar por encima */
    padding: 2px 5px; /* Padding para hacer el botón más pequeño */
    font-size: 12px; /* Tamaño de fuente más pequeño */
}

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.tournament-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    max-width: 1200px;
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    position: relative;
}

.matchup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.matchup .team {
    width: 180px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    margin: 5px 0;
}

.round:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -120px;
    width: 50px;
    border-right: 1px solid #000;
}

.round:first-child:before {
    display: none;
}

.matchup:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: black;
    left: -50px;
    top: 50%;
}

.empty-team {
    visibility: hidden;
}
